doctype 5
html
	head
		title Magellen's Voyage
		link(rel="stylesheet", type="text/css", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/style.css" )

	body
		h1 "Magellen's Voyage"	
		img(id="mapOfVoyage",src="images/Magellan-Drake-R.jpg", height="300px", width="400px")
		p 
			|In October 1517 in Seville, Magellan contacted Juan de Aranda, Factor of the Casa de Contratación.
			| Following the arrival of his partner Rui Faleiro, and with the support of Aranda, they presented their 
			|project to the Spanish king, Charles I, future Holy Roman Emperor Charles V. Magellan's project, if successful,
			|would realize Columbus' plan of a spice route by sailing west without damaging relations with the Portuguese.
			|The idea was in tune with the times and had already been discussed after Balboa's discovery of the Pacific.
			|On 22 March 1518 the king named Magellan and Faleiro captains so that they could travel in search of the 
			|Spice Islands in July. He raised them to the rank of Commander of the Order of Santiago. The king granted
			|them:[12]Monopoly of the discovered route for a period of ten years.
			|Their appointment as governors of the lands and islands found, with 5% of the resulting net gains.
			|A fifth of the gains of the travel.
			|The right to levy one thousand ducats on upcoming trips, paying only 5% on the remainder.
			|Granting of an island for each one, apart from the six richest, from which they would receive a fifteenth.
		a(href="/guam")
			button(type="button", class="btn btn-primary btn-lg") NEXT

			//- ADD HREF ABOVE FOR NEXT PAGE
		



		link(href="http://codeorigin.jquery.com/jquery-2.0.3.min.js")
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")